/* 이미지 슬라이더 섹션 */
#main_visual{
    width: 100%;
    height: 500px;
    position: relative;
}

/* 이미지 슬라이더 섹션 중 슬라이더 이미지 영역 */
#main_visual .visual_item_wrap{
    min-height:500px;
    position: relative;
}
#main_visual .visual_item_wrap:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url("http://www.oceanplan.co.kr/data/file/banner/4_copy_6_1_copy_4_3696040806_CUnIwTPY_e8490648bc0d946494cfc332f039e0ef79f46b4a.png")
    0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    z-index: -999;
    background-color: black;
    opacity: 0.95;
}
#main_visual .visual_item_wrap.item2:after{
    background-image: url("http://www.oceanplan.co.kr/data/file/banner/2_copy_5_3696040806_qR9z8TxN_7e38952c4026a622693d8be98e31ffb8f2641a16.png");
    background-color: black;
    opacity: 0.95;
}
#main_visual .visual_item_wrap.item3:after{
    background-image: url("http://www.oceanplan.co.kr/data/file/banner/3696040806_gZhCeJR6_56cd1eeae4b244958095586633e7fa88ea5e4c01.png");
    background-color: black;
}


/* 이미지 슬라이더 섹션 중 제목과 내용 영역 */
#main_visual .visual_title{ 
    font-size: 100px;
    font-weight: bold;
    position: relative;
    top: 200px;
    left: 150px;
}
#main_visual .visual_title + p{
    font-size: 22px;
    position: relative;
    top: 200px;
    left: 150px;
}


/* 슬릭 디자인 시작 */
/* 아래 이미지 위치를 알리는 점 디자인 */
#main_visual .slick-dots { display: flex; flex-direction: column;
                            width: 100%; text-align: center;
                            position: absolute; bottom: 180px; left: 20px;}                          
#main_visual .slick-dots li { display: inline-block;  height: 15px;
                            margin: 5px; }
#main_visual .slick-dots li button {
    border-top: solid 2px gray;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    background-color: transparent;
    font-size: 0;
    display: block;
    width: 20px; 
    
}
#main_visual .slick-dots li.slick-active button { border-color: black; }


/* 버튼 초기화 */
#main_visual .slick-prev, #main_visual .slick-next {
    border: none;
    background-color: transparent;
    font-size: 0;
}



/* 슬릭 디자인 완료 */



h1 {
    font-size: 25px;
}
.section_1 {
    height: 300px;
    padding: 50px 0 100px 40px;
    
}
.section_1 h1 {
    padding-left: 10px;
    padding-bottom: 20px;
}
.ocean_system {
    text-align: center;
    
}
.ocean_system ul li {
    display: block;
    float: left;
    overflow: hidden;
}
.ocean_system img {
    padding: 10px;
    transition: 0.8s ease-out;
    
}

.ocean_system img:hover {
    transform: scale(1.2);
}
.ocean_system h4 {
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
}

.section_2 {
    background-image: url(http://www.oceanplan.co.kr/theme/cookie/img/back02.png);
    background-size: 1350px;
    background-repeat: no-repeat;
    clear: both;
    display: block;
    height: 300px;
    padding: 100px 0 0 50px;
    margin: 0;
    color: white;
}
.section_2 ul {
    display: inline-block;
    position: relative;
    left: 0px;
    margin-left: 0;
    padding-left: 20px;
}
.section_2 ul li {
    
    list-style: none;
    background-color: rgba(105, 99, 99, 0.4);
    color: white;
    font-size: large;
    padding: 13px 260px 13px 20px;
    margin-bottom: 15px;
}
.section_2 h1 {
    padding-bottom: 30px;
    padding-left: 20px;
    
}